<div class="container-fluid background-photo">
  <div class="container jumbotron">
    <h1 class="display-4 white-text">Volunteer with us</h1>
    <p class="lead white-text">Lend a helping hand and attend one of our beach cleanups hosted by various non-profits in the LA area. Everyone of us can make a difference in our community while also having a fun beach day. Stick around after the cleanup to relax and play with other students just remember to dispose of waste in the proper containers. Check out the calendar below and sign up for the upcoming cleanup.</p>
    <hr>
    <!-- <a class="btn btn-info pointer white-text inner" href="https://goo.gl/forms/WQhTBXbr2aLyykk42" target="_blank">Sign up for our next beach cleanup!</a> -->
  </div>
  <div class="container text-center p-0">
     <section class="today-box" id="today-box">
       <div class="breadcrumb text-center">
          <span class='today-text'>Today</span>
       </div>

        <h3 class="date-title">{{ now }}</h3>
        <h3 class='mt-3'>No Events Today</h3>
        <div class="plus-icon">
           <i class="ion ion-ios-add"></i>
        </div>
     </section>
     <section class="upcoming-events">
       <div class="events_container">
         <h3 class='titles mb-3'>Upcoming Events</h3>
         <div class="events-wrapper">
            <!-- <div class="event">
               <h4 class="event__point">April 27th, 2019</h4>
               <p class="event__description">
                  Our next beach cleanup in Santa Monica. Click above to sign up.
               </p>
            </div> -->
            <h3 class='mt-3'>No upcoming events, check back soon!</h3>
          </div>
       </div>
     </section>
  </div>
</div>
