<div class="jumbotron turtle-photo">
  <h1 class="display-4 white-text">Sign Up for our Newsletter</h1>
  <form>
    <div class="form-group">
      <label for="nameInput" class="white-text">Name</label>
      <input type="text" class="form-control" id="nameInput" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="emailInput" class="white-text">Email address</label>
      <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
