<div class="container-fluid dark-blue-background">
  <div class="container text-center">
    <div *ngIf="!scrolled" class="scroll-indicator fa fa-chevron-down"></div>
    <img src="../../assets/whitelogo.png" class="image-wrapper">
    <div *ngIf="!scrolled" class="scroll-indicator fa fa-chevron-down"></div>
    <div class="row text-left pl-4 pr-4">
      <h1 class="display-4 white-text">Who We Are</h1>
      <p class="lead white-text">The LA Ocean Coalition is a volunteer organization dedicated to the preservation of our planet’s oceans. We believe the journey toward protecting our oceans begins at home. Through our work promoting sustainability on campus at the University of California, Los Angeles, we hope to make a change for the positive in our community, and act as a catalyst for sustainability across the globe.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row pl-4 pr-4">
    <h1 class="display-4 blue-text">We Need Your Help</h1>
    <p class="lead blue-text">We can't do it alone. Here are three ways you can support our mission to preserve our planet's oceans.</p>
  </div>
  <hr>
  <div class="row pl-4 pr-4">
    <h1 class="display-4 blue-text">I. Sign Our Petition</h1>
    <p class="lead blue-text">We are currently focusing our efforts to reduce UCLA’s oceanic footprint by lessening the plastic waste that our campus produces.
      We are working to eliminate the use of polystyrene, a substance that makes up products such as plastic straws, plastic cups, and styrofoam. Polystyrene never fully decomposes in the ocean, and breaks down into microscopic bits that pollute our oceans and the bodies of the animals who live in them. (If you eat fish or other seafoods, these bits of plastic can end up in your body as well. Yuck!) <br><br>
      Read more about the harmful effects of polystyrene <a href='https://www.5gyres.org/polystyrene/' target="_blank">here</a>, and sign our <a href="https://docs.google.com/forms/d/e/1FAIpQLSc2QlbMb3xOdVK_Uk1GkeoBL2dq33ya6dhEaT05IYfUZ8XhZQ/viewform?usp=sf_link" target="_blank">polystyrene petition</a>.<br>
    </p>
  </div>
  <hr>
  <div class="row pl-4 pr-4">
    <h1 class="display-4 blue-text">II. Make a Contribution</h1>
    <p class="lead blue-text">You may have heard money makes the world go round. We’re here to tell you, it also keeps our oceans clean. Any funds contributed to our gofundme are put toward preserving our beautiful oceans.</p>
  </div>
  <hr>
  <div class="row pl-4 pr-4">
    <h1 class="display-4 blue-text">III. Get Involved</h1>
    <p class="lead blue-text">Join us as we try to fight plastics pollution with boots on the ground. <a routerLink="/volunteer" href="javascript:;">Volunteer with us</a> and come to our first of many beach cleanups hosted on October 20th in Santa Monica. If you crave to do more, <a routerLink="/membership" href="javascript:;">become a team ambassador</a> and apply for one of our open positions within the LA Ocean Coalition admin.</p>
  </div>
  <hr>
</div>
<div class="container">
  <h1 class="display-4 text-center blue-text">Our Team</h1>
  <div class="container pb-5 mb-2">
    <div class="row">
      <div class="col pt-2 pb-2">
        <div class="card mx-auto" style="width: 20rem;">
          <img class="card-img-top" src="../../../assets/carter.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Carter Webb</h5>
            <h6 class="card-subtitle mb-2 text-muted">President</h6>
            <p class="card-text">Carter, a third year Environmental Science major, founded the coalition with the hopes of sparking environmental change. He aims to provide an outlet for UCLA students, like himself, to make it more convenient for them to get involved and educate themselves about sustainability.</p>
          </div>
        </div>
      </div>
      <div class="col pt-2 pb-2">
        <div class="card mx-auto" style="width: 20rem;">
          <img class="card-img-top" src="../../../assets/olivia.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Olivia Handrahan</h5>
            <h6 class="card-subtitle mb-2 text-muted">Vice President</h6>
            <p class="card-text">Olivia is a third year communications major and film minor. As External Vice President she hopes to use her passion for both activism and storytelling to help spread awareness of environmental issues on campus and encourage the student body to get involved.</p>
          </div>
        </div>
      </div>
      <div class="col pt-2 pb-2">
        <div class="card mx-auto" style="width: 20rem;">
          <img class="card-img-top" src="../../../assets/elias.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Elias deFaria</h5>
            <h6 class="card-subtitle mb-2 text-muted">Lead Developer</h6>
            <p class="card-text">Elias is a third year Cognitive Science major with a specialization in Computing. As Lead Developer, he hopes to use his technical expertise to communicate LAOC's message with websites, mobile applications, and other digital interfaces.</p>
          </div>
        </div>
      </div>
      <div class="col pt-2 pb-2">
        <div class="card mx-auto" style="width: 20rem;">
          <img class="card-img-top" src="../../../assets/grace.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Grace Hawkins</h5>
            <h6 class="card-subtitle mb-2 text-muted">Communications Director</h6>
            <p class="card-text">Grace Hawkins is a third year Sociology major with a passion for activism. As Communications Director of the LA Ocean coalition, she aims to inspire others to take action against the destruction of our oceans.</p>
          </div>
        </div>
      </div>
      <div class="col pt-2 pb-2">
        <div class="card mx-auto" style="width: 20rem;">
          <img class="card-img-top" src="../../../assets/nico.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Nico Studen</h5>
            <h6 class="card-subtitle mb-2 text-muted">Campus Policy Coordinator</h6>
            <p class="card-text">Nico is a third year Political Science major and Public Affairs minor looking to leave the world cleaner than he found it. By encouraging UCLA to pursue a more sustainable future, his efforts as Campus Policy Coordinator aim to create enduring, systemic change within the Bruin community.</p>
          </div>
        </div>
      </div>
      <!--div class="col pt-2 pb-2">
        <div class="card mx-auto" style="width: 20rem;">
          <img class="card-img-top" src="../../../assets/nico.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Makenna Brown</h5>
            <h6 class="card-subtitle mb-2 text-muted">Campus Policy Coordinator</h6>
            <p class="card-text">Makenna is a fourth year Ecology, Behavior and Evolution major with a minor in Conservation Biology. As Campus Plastic Policy Liaison she hopes to change the culture concerning waste at UCLA. Ultimately, she hopes to foster a community that focuses on reusing rather than throwing away.</p>
          </div>
        </div>
      </div>
      <div class="col pt-2 pb-2">
        <div class="card mx-auto" style="width: 20rem;">
          <img class="card-img-top" src="../../../assets/nico.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Reece Salmons</h5>
            <h6 class="card-subtitle mb-2 text-muted">Campus Policy Coordinator</h6>
            <p class="card-text">Reece is a third year Geography/Environmental Studies major with a minor in Conservation Biology. He hopes to use student activism to turn the tide against plastic as he takes on the role of Campus Plastic Policy Liaison. He’s focused on demanding top-down changes from the university.</p>
          </div>
        </div>
      </div-->
    </div>
  </div>
</div>
