<div class="container-fluid dark-blue-background">
  <div class="container text-center">
    <div *ngIf="!scrolled" class="scroll-indicator fa fa-chevron-down"></div>
    <img src="../../assets/whitelogo.png" class="image-wrapper">
    <div *ngIf="!scrolled" class="scroll-indicator fa fa-chevron-down"></div>
    <div class="row text-left">
      <h1 class="display-4 white-text">Who We Are</h1>
      <p class="lead white-text">The LA Ocean Coalition is a volunteer organization dedicated to the preservation of our planet’s oceans. We believe the journey toward protecting our oceans begins at home. Through our work promoting sustainability on campus at the University of California, Los Angeles, we hope to make a change for the positive in our community, and act as a catalyst for sustainability across the globe.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h1 class="display-4 blue-text">We Need Your Help</h1>
    <p class="lead blue-text">We can't do it alone. Here are three ways you can support our mission to preserve our planet's oceans.</p>
  </div>
  <hr>
  <div class="row">
    <h1 class="display-4 blue-text">I. Sign Our Petition</h1>
    <p class="lead blue-text">We are currently focusing our efforts to reduce UCLA’s oceanic footprint by lessening the plastic waste that our campus produces.
      We are working to eliminate the use of plystyrene, a substance that makes up products such as plastic straws, plastic cups, and styrofoam. Polystyrene never fully decomposes in the ocean, and breaks down into microscopic bits that pollute our oceans and the bodies of the animals who live in them. (If you eat fish or other seafoods, these bits of plastic can end up in your body as well. Yuck!) <br><br>
      Read more about the harmful effects of polystyrenene <a href='javascript:;'>here</a>, and sign our <a href="https://docs.google.com/forms/d/e/1FAIpQLSc2QlbMb3xOdVK_Uk1GkeoBL2dq33ya6dhEaT05IYfUZ8XhZQ/viewform?usp=sf_link">polystyrene petition</a>.<br>
    </p>
  </div>
  <hr>
  <div class="row">
    <h1 class="display-4 blue-text">II. Make a Contribution</h1>
    <p class="lead blue-text">You may have heard money makes the world go round. We’re here to tell you, it also keeps our oceans clean. Any funds contributed to our gofundme are put toward preserving our beautiful oceans.</p>
  </div>
</div>
<div class="container jumbotron">

  <hr>
  <h1 class="display-4 text-center">How We're Accomplishing This</h1>
  <p class="lead">
    We are currently focusing our efforts to reduce UCLA’s oceanic footprint by lessening the plastic waste that our campus produces. This campaign is moving forward in three ways: <br>
    1) Advocacy for campus policy change regarding single use plastics <br>
    2) Student body education <br>
    3) Facilitating a community of informed youth willing to make sustainable change <br><br>

    Our main target now is polystyrene, a substance that makes up products such as plastic straws, plastic cups, and Expanded Polystyrene Products (styrofoam). Polystyrene is, in fact, considered to be carcinogenic and detrimental to our health.<br><br>

    Sign our polystyrene petition here.
  </p>
  <hr>
  <h1 class="display-4 text-center">Our Team</h1>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card mx-auto" style="width: 20rem;">
          <img class="card-img-top" src="../../../assets/turtle.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Carter Webb</h5>
            <h6 class="card-subtitle mb-2 text-muted">President</h6>
            <p class="card-text">Carter, a third year Environmental Science major, founded the coalition with the hopes of sparking environmental change. He aims to provide an outlet for UCLA students, like himself, to make it more convenient for them to get involved and educate themselves about sustainability.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mx-auto" style="width: 20rem;">
          <img class="card-img-top" src="../../../assets/turtle.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Carter Webb</h5>
            <h6 class="card-subtitle mb-2 text-muted">President</h6>
            <p class="card-text">Carter, a third year Environmental Science major, founded the coalition with the hopes of sparking environmental change. He aims to provide an outlet for UCLA students, like himself, to make it more convenient for them to get involved and educate themselves about sustainability.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mx-auto" style="width: 20rem;">
          <img class="card-img-top" src="../../../assets/turtle.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Elias deFaria</h5>
            <h6 class="card-subtitle mb-2 text-muted">Lead Developer</h6>
            <p class="card-text">Carter, a third year Environmental Science major, founded the coalition with the hopes of sparking environmental change. He aims to provide an outlet for UCLA students, like himself, to make it more convenient for them to get involved and educate themselves about sustainability.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mx-auto" style="width: 20rem;">
          <img class="card-img-top" src="../../../assets/turtle.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Grace Hawkins</h5>
            <h6 class="card-subtitle mb-2 text-muted">President</h6>
            <p class="card-text">Grace Hawkins is a third year Sociology major with a passion for activism. As Communications Director of the LA Ocean coalition, she aims to inspire others to take action against the destruction of our oceans.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mx-auto" style="width: 20rem;">
          <img class="card-img-top" src="../../../assets/turtle.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Carter Webb</h5>
            <h6 class="card-subtitle mb-2 text-muted">President</h6>
            <p class="card-text">Carter, a third year Environmental Science major, founded the coalition with the hopes of sparking environmental change. He aims to provide an outlet for UCLA students, like himself, to make it more convenient for them to get involved and educate themselves about sustainability.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
