<div style="margin: 30px;">
  <h1>Who We Are</h1>
  <div style="text-align: center;">
    <h1 class="blurb">The LA Ocean Coalition is a volunteer organization dedicated to the preservation of our planet’s oceans. We believe the journey toward protecting our oceans begins at home. Through our work promoting sustainability on campus at the University of California, Los Angeles, we hope to make a change for the positive in our community, and act as a catalyst for sustainability across the globe.</h1>
  </div>
</div>
<div>
  <h1 style="position: absolute; margin-left: 35vw; margin-top: 10vh; color: white; font-family: sans-serif; font-size: 3em;">Join Our Newsletter!</h1>
  <div class="newsletter-wrapper">
    <input type="text" name="newsletter" placeholder="savetheoceans@ocean.com" class="newsletter-input">
    <button type="submit" name="newsletter-submit" value="Submit!" class="newsletter-submit">Sign Up!</button>
  </div>
  <img src="../assets/turtle.png" width="100%">
</div>
