<div class="container">
  <div class="row-sm">
    <div class="jumbotron card">
      <h1 class="display-4">Become a volunteer</h1>
      <div class="card text-center">
        <div class="card-header">
          Volunteer with LAOC
        </div>
        <div class="card-body">
          <p class="card-text">Just a little commitment can go a long way. Click here to find out more!</p>
          <a class="btn btn-info" routerLink="/volunteer" href="#">Read about volunteering!</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row-sm">
    <div class="jumbotron card">
      <h1 class="display-4">Become a member</h1>
      <div class="card text-center">
        <div class="card-header">
          Become a member of LAOC
        </div>
        <div class="card-body">
          <p class="card-text">Apply to become a member of LAOC to have a real impact. Click here to find out more!</p>
          <a class="btn btn-info" routerLink="/membership" href="#">Read about membership!</a>
        </div>
      </div>
    </div>
  </div>
</div>
