.background-photo-1{
  width: 100%;
  height: 100%;
  background-color: black; /* fallback color */
  background-image: url("../../assets/horizon.jpg");
  background-position: center;
  background-size: cover;
  z-index: 990;
}
.jumbotron{
  background-color: rgba(0,0,0,0.2);
}
.background-photo-2{
  width: 100%;
  height: 100%;
  background-color: black; /* fallback color */
  background-image: url("../../assets/swimming.jpg");
  background-position: center;
  background-size: cover;
  z-index: 990;
}
