<div class="container">
  <div class="row-sm">
    <div class="jumbotron card background-photo-1">
      <h1 class="display-4 white-text">Volunteer with us</h1>
      <div class="card text-center low-o-black-background">
        <div class="card-header white-text">
          <b>Volunteer with LAOC</b>
        </div>
        <div class="card-body">
          <p class="card-text white-text">Just a little commitment can go a long way. Click here to find out more!</p>
          <a class="btn btn-info" routerLink="/volunteer" href="#">Read about volunteering!</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row-sm">
    <div class="jumbotron card background-photo-2">
      <h1 class="display-4 white-text">Become an ambassador</h1>
      <div class="card text-center low-o-white-background">
        <div class="card-header">
          <b>Become an ambassador of LAOC</b>
        </div>
        <div class="card-body">
          <p class="card-text">Apply to become a member of LAOC to have a real impact. Click here to find out more!</p>
          <a class="btn btn-info" routerLink="/membership" href="#">Read about membership!</a>
        </div>
      </div>
    </div>
  </div>
</div>
