<div class="container-fluid jumbotron">
  <h1 class="display-4">Donate $25 and we'll send you a shirt!</h1>
  <p class="lead">Come with us to one of our upcoming events!</p>
</div>
<div class="vertical-center">
  <div class="container">
    <div class="card pointer mx-auto background-hover" style="width: 18rem;" (click)="openPopup()">
      <img class="card-img-top" src="../../../assets/shirtFront.png" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Click to see the front and back!</p>
      </div>
    </div>
  </div>
</div>
