<div class="container-fluid dark-blue-background padding pt-5 pb-5">
  <div class="container pt-5 pb-5">
    <h1 class="display-4 white-text pb-3">UCLA Plastics Polutions Project</h1>
    <p class="lead white-text text-indent">The Plastic Pollution Project is a student group that was born in spring 2018. It was founded by Professor Alison Lipman who teaches ecology at UCLA and is the co-founder of SELVA international. Due to the immense amount of plastic in the oceans, PPP decided to take action to stop the flow of plastics coming from UCLA. Ultimately, the team aims to both curb the amount of single use plastics that are sent to our landfills and oceans as well as create a reusable culture among the students on campus. They hope to achieve this goal by education and political activism, working with the university to take on effective new policies.</p>
  </div>
</div>
<div class="container">
  <h1 class="display-4 text-center blue-text pt-5 pb-5">UCLA PPP Leaders</h1>
  <div class="container pb-5 mb-2">
    <div class="row">
      <div class="col pt-2 pb-2">
        <div class="card mx-auto" style="width: 20rem;">
          <img class="card-img-top" src="../../../assets/nico.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Makenna Brown</h5>
            <h6 class="card-subtitle mb-2 text-muted">Campus Policy Coordinator</h6>
            <p class="card-text">Makenna is a fourth year Ecology, Behavior and Evolution major with a minor in Conservation Biology. As Campus Plastic Policy Liaison she hopes to change the culture concerning waste at UCLA. Ultimately, she hopes to foster a community that focuses on reusing rather than throwing away.</p>
          </div>
        </div>
      </div>
      <div class="col pt-2 pb-2">
        <div class="card mx-auto" style="width: 20rem;">
          <img class="card-img-top" src="../../../assets/nico.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Reece Salmons</h5>
            <h6 class="card-subtitle mb-2 text-muted">Campus Policy Coordinator</h6>
            <p class="card-text">Reece is a third year Geography/Environmental Studies major with a minor in Conservation Biology. He hopes to use student activism to turn the tide against plastic as he takes on the role of Campus Plastic Policy Liaison. He’s focused on demanding top-down changes from the university.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
