.nav-bar{
  background-color: white;
}

.logo-wrapper{
  width: 150px;
  cursor: pointer;
  -webkit-transition : all .3s ease-out;
  -moz-transition : all .3s ease-out;
  -o-transition : all .3s ease-out;
  transition : all .3s ease-out;
  border-radius: 10px;
}

.logo-wrapper:hover{
  background-color: rgb(91,192,222,0.3);
  transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out,box-shadow .3s ease-in-out;
}

.logo{
  width: 100%;
  height: auto;
  outline: none;
}

.blue-border{
  border: 1px solid #5bc0de;
  border-radius: 10px;
  -webkit-transition : all .3s ease-out;
  -moz-transition : all .3s ease-out;
  -o-transition : all .3s ease-out;
  transition : all .3s ease-out;
}
.blue-border:hover{
  background-color: #5bc0de;
  transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out,box-shadow .3s ease-in-out;
}

.one-liner{
  color: #5bc0de;
  display: inline;
  font-size: 3vw;
}
