<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" style="z-index: 999;">
  <div class="logo-wrapper">
    <img src="../assets/laoclogo.png" class="logo" routerLink="/">
  </div>
  <div class="one-liner" *ngIf="!thinWindow">
    One Drop at a Time
  </div>
  <button class="navbar-toggler blue-background" type="button"
          (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse"
       [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav ml-auto">
      <li [ngClass]="{'nav-item blue-border': !thinWindow, 'nav-item': thinWindow}">
        <a class="nav-link pointer" (click)="openPopup()">Donate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="toggleNavbar()" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="toggleNavbar()" routerLink="/shop">Shop</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Get Involved</a>
        <div class="dropdown-menu high-z" aria-labelledby="navbarDropdown">
          <a class="dropdown-item hover-effect" (click)="toggleNavbar()" routerLink="/volunteer" href="#">Volunteer</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item hover-effect" (click)="toggleNavbar()" routerLink="/membership" href="#">Membership</a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item hover-effect" (click)="toggleNavbar()" routerLink="/ucla_ppp">UCLA PPP</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item hover-effect" href="mailto:laoceancoalition@gmail.com" data-toggle="tooltip" data-placement="bottom" title="laoceancoalition@gmail.com" href="#">Contact Us</a>
        </div>
      </li>


      <!--li class="nav-item">
        <a class="nav-link" (click)="toggleNavbar()" routerLink="/ns">Our Newsletter</a>
      </li-->
    </ul>
    <!--form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form-->
  </div>
</nav>
