@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url("https://use.typekit.net/byr8jjz.css");



body{
  margin: 0;
  font-family: gill-sans-nova;
  padding: 0;
}
video{
  object-fit: cover;
}

.pointer{
  cursor: pointer;
}

.blue-background{
  background-color: #5bc0de;
}
.low-o-white-background{
  background-color: rgba(256,256,256,0.5);
  border: none;
}
.low-o-black-background{
  background-color: rgba(0,0,0,0.3);
  border: none;
}
.dark-blue-background{
  background-color: rgb(27,55,101);
  padding-bottom: 10px;
}
.white-text{
  color: white;
}
.blue-text{
  color: rgb(27,55,101);
}

.vertical-center {
  min-height: 83.7%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 83.7vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.no-display{
  display: none;
}

.lead{
  text-align: justify;
}
.text-indent{
  text-indent: 5%;
}
.f-size-2{
  font-size: 2em;
}

/******************************************
        RESPONSIVE TYPOGRAPHY
******************************************/

html {
  font-size: 1rem;
}
