@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body{
  margin: 0px;
}
video{
  object-fit: cover;
}

.pointer{
  cursor: pointer;
}

.blue-background{
  background-color: #5bc0de;
}

.white-text{
  color: white;
}
