@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body{
  margin: 0px;
}
video{
  object-fit: cover;
}

.pointer{
  cursor: pointer;
}

.blue-background{
  background-color: #5bc0de;
}

.white-text{
  color: white;
}

.vertical-center {
  min-height: 80%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 80vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
