<div class="container-fluid background-photo">
  <div class="vertical-center">
    <div class="container jumbotron">
      <div class="row text-center">
        <h1 class="plastic-text">Welcome to the Los Angeles Ocean Coalition</h1>
      </div>
      <div class="row">
        <div class="col text-center">
          <button type="button" class="btn btn-info btn-lg" routerLink="/about"><b class="white-text">Learn more about LAOC</b></button>
        </div>
        <div class="col text-center">
          <button type="button" class="btn btn-info btn-lg" routerLink="/volunteer"><b class="white-text">Volunteer with us</b></button>
        </div>
      </div>
    </div>
  </div>
</div>

  <!--div class="newsletter-button">
    <h1 class="counter">120,601</h1>
    <h1 class="plastic-text">PLASTIC STRAWS</h1>
  </div-->

  <!--img src="../assets/tempImage.png" width="100%" height="auto"-->
