<div class="vertical-center background-photo">
  <div class="container jumbotron" >
    <div class="row text-center">
      <h1 class="plastic-text">Welcome to the Los Angeles Ocean Coalition</h1>
    </div>
    <div class="row">
      <div class="col text-center">
        <button type="button" class="btn btn-outline-info btn-lg" routerLink="/about"><b class="white-text">Learn more about LAOC</b></button>
      </div>
      <div class="col text-center">
        <button type="button" class="btn btn-outline-info btn-lg" (click)="openNewsletter()"><b class="white-text">Sign Up for Our Newsletter</b></button>
      </div>
    </div>
  </div>
</div>

  <!--div class="newsletter-button">
    <h1 class="counter">120,601</h1>
    <h1 class="plastic-text">PLASTIC STRAWS</h1>
  </div-->

  <!--img src="../assets/tempImage.png" width="100%" height="auto"-->
