<div class="container-fluid background-photo">
  <div class="vertical-center pb-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
            <h1 counto [step]="30" [countTo]="1606" [countFrom]="0" [duration]="4" (countoChange)="counto = $event" class="display-1 text-center white-text big-text">{{counto.toFixed(0)}}</h1>
        </div>
        <div class="col-12">
          <p class="lead f-size-2 text-center white-text">Pieces of Plastic Picked Up by the Los Angeles Ocean Coalition</p>
        </div>
      </div>
      <div class="row pt-4">
        <div class="col text-center">
          <button type="button" class="btn btn-info btn-lg" routerLink="/about"><b class="white-text">Learn more about LAOC</b></button>
        </div>
        <div class="col text-center">
          <button type="button" class="btn btn-info btn-lg" routerLink="/volunteer"><b class="white-text">Volunteer with us</b></button>
        </div>
      </div>
    </div>
  </div>
</div>

  <!--div class="newsletter-button">
    <h1 class="counter">120,601</h1>
    <h1 class="plastic-text">PLASTIC STRAWS</h1>
  </div-->

  <!--img src="../assets/tempImage.png" width="100%" height="auto"-->
