<div class="container-fluid dark-blue-background padding">
  <div class="container">
    <h1 class="display-4 white-text">Become an LAOC Ambassador</h1>
    <p class="lead white-text">Dive into the world of activism and become a member of the team. Review the open positions below and apply to the positions that intrigue you the most.</p>
  </div>
</div>
<div class="container pb-5 mb-5">
  <div class="row pl-4 pr-4 pt-3">
    <h1 class="display-4 blue-text">We Need Your Help</h1>
    <p class="lead blue-text">We can't do it alone. Here are three ways you can support our mission to preserve our planet's oceans.</p>
  </div>
  <hr>
  <div class="row pl-4 pr-4">
    <h1 class="display-4 blue-text">I. Head Designer</h1>
    <p class="lead blue-text">Want to make people see ocean conservation in a whole new light?<br><br>

      LAOC is seeking a head designer for print and web materials supporting our mission of ocean conservation. The LAOC head designer will coordinate with our social media manager and content creators to create graphics for social media and outreach.<br><br>

      <a href="https://docs.google.com/forms/d/e/1FAIpQLSdJgVEFH_4jhyZNJgCqKIZbd9KEK7wQzToKrPlKMCBB4Nh_uA/viewform?usp=sf_link" target="_blank">Apply here</a>.
    </p>
  </div>
  <hr>
  <div class="row pl-4 pr-4">
    <h1 class="display-4 blue-text">II. PR Manager</h1>
    <p class="lead blue-text">As PR Manager, you would plan and curate our social media pages, brand creation,  and help create our newsletter.<br><br>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSdh2MikFE5k-RRM7lPMI95YSh0rR_9hLNN9-IwjhTSBDdn3JA/viewform?usp=sf_link" target="_blank">Apply here</a>.</p>
  </div>
  <hr>
  <div class="row pl-4 pr-4">
    <h1 class="display-4 blue-text">III. Content Creator</h1>
    <p class="lead blue-text">Want to do more than beach cleanups but don’t know how much time you can commit?<br><br>

      Don’t worry, we have a position for you too. Become a content producer let your creativity fly! Work with us on awareness campaigns for ocean conservation by creating content pieces of your choice! We’re talking gifs, artwork, videos, graphics, and written pieces for our social media, newsletter and website.<br><br>

      Develop your content creation skills while helping us promote ocean sustainability!<br><br>

      <a href='https://docs.google.com/forms/d/e/1FAIpQLSel_1wnxs0inaQNfI8uuIs0E0apLMK_S90pgbdxve88ZNt1dQ/viewform?usp=sf_link' target="_blank">Apply here.</a><br>
    </p>
  </div>

</div>
